/*
-- TASK REMINDER FOR ME AND ME ALONE --
1. Create a header + nav that follows the top of the view (sticky).
2. Create cards for music albums complete with image and album title and band.
3. Create audio files of each song.
4. Have an image alert of an upcoming event.
*/

/*-- Mobile and Tablet Only --*/
:root {
    --fadeSpeed: 0.5s;
    --headerFadeInMargin: 1%;
    --headerFadeOutMargin: 3%;
    --cardArtistBodyPadding: 1%;
    --cardSongBodyPadding: 2%;
    --imageW: 400px;
    --imageH: 400px;
}

@media screen and (max-width: 450px) and (max-height: 800px){
    :root {
        --fadeSpeed: 0.5s;
        --headerFadeInMargin: 1%;
        --headerFadeOutMargin: 3%;
        --cardBodyPadding: 5%;
        --imageW: 200px;
        --imageH: 200px;
    }
}

*{
    color:white;
    font-family: 'Bebas Neue', serif;
}

body {
    background-color: rgb(30, 30, 30);
}

/*-- Hover Fade 'Animation' --*/
@keyframes headerHoverFadeInAnim {
    from {
        background-color: rgba(50, 50, 50, 0.3);
        color: rgba(255, 255, 255, 0.1);
        margin-left: var(--headerFadeOutMargin);
        margin-right: var(--headerFadeOutMargin);
    }
    to {
        background-color: rgba(50, 50, 50, 255);
        color: rgba(255, 255, 255, 255);
        margin-left: var(--headerFadeInMargin);
        margin-right: var(--headerFadeInMargin);
    }
}
@keyframes headerHoverFadeOutAnim {
    from {
        background-color: rgba(50, 50, 50, 255);
        color: rgba(255, 255, 255, 255);
        margin-left: var(--headerFadeInMargin);
        margin-right: var(--headerFadeInMargin);
    }
    to {
        background-color: rgba(50, 50, 50, 0.3);
        color: rgba(255, 255, 255, 0.1);
        margin-left: var(--headerFadeOutMargin);
        margin-right: var(--headerFadeOutMargin);
    }
}

header{
    display: flex;
    justify-self: center;
    justify-content: space-between;
    position:sticky;
    top: 2%;
    margin-top: 1%;
    margin-left: var(--headerFadeOutMargin);
    margin-right: var(--headerFadeOutMargin);
    padding: 0%;
    background-color: rgba(50, 50, 50, 0.3);
    color: rgba(255, 255, 255, 0.1);

    animation-name: headerHoverFadeOutAnim;
    animation-duration: var(--fadeSpeed);
}
header:hover{
    animation-name: headerHoverFadeInAnim;
    animation-duration: var(--fadeSpeed);

    background-color: rgba(50, 50, 50, 255);
    color: rgba(255, 255, 255, 255);

    margin-top: 1%;
    margin-left: var(--headerFadeInMargin);
    margin-right: var(--headerFadeInMargin);
}
.header-title-container{
    margin-left: 49%;
    padding: 0%;
}
.header-title{
    font-size: 60px;
    text-align:center;
    padding:0%;
}

.title {
    font-size: 30px;
    text-align: center;
    margin: 2%;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    text-align: center;
    color: white;
}

body{
    padding: 0;
    margin: auto;
}

.backgroundCover {
    background-color: rgb(40, 40, 40);
    margin: 1%;
}

.card-container {
    display:flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-flow: wrap;
}

.card-artist-body {
    justify-content: center;
    flex-direction: column;
    background-color: rgb(25, 25, 25);
    color: white;
    padding-left: var(--cardArtistBodyPadding);
    padding-right: var(--cardArtistBodyPadding);
    margin: 1%;
}

.card-song-body{
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    background-color: rgb(25, 25, 25);
    color: white;
    padding-left: var(--cardSongBodyPadding);
    padding-right: var(--cardSongBodyPadding);
    padding-bottom: var(--cardSongBodyPadding);
    margin: 1%;
}

.card-artist-body, .card-song-body {
    box-shadow: rgba(0,0,0,0.1) 0px -10px inset;
}

.card-artist-image{
    padding-top: 2%;
}
.card-artist-band::before {
    content: "Band Name: ";
}
.card-artist-formed::before {
    content: "Formed In: ";
}

.card-album, .card-auth{
    text-align:center;
}
.card-album::before{
    content: "Album: ";
}
.card-auth::before{
    content: "Band/Author: ";
}

footer{
    padding: 0;
    margin: auto;
}

.smallDisclaimerText {
    font-size: 10px;

}